.App {
  text-align: left;
}
.container {
  background-color: cadetblue;
  margin: 0 10%;
  padding: 20px;
  border-radius: 10px;
}

.outlet {
  border: 1px solid #000;
  margin-top: 20px;
  background-color: moccasin;
  padding: 20px;
  border-radius: 20px;
}